@media (min-width: 1001px) and (max-width: 1300px) {
    .shop {
        grid-template-columns: repeat(3, 300px);
    }
}

@media (max-width: 1000px) {
    .shop {
        grid-template-columns: repeat(2, 300px);
    }
}

@media (max-width: 650px) {
    .shop {
        grid-template-columns: repeat(1, 300px);
    }
}